<script>
  import { createEventDispatcher } from "svelte";
  import { onMount } from "svelte";
import Unknown from "./icons/Unknown.svelte";
import No from "./icons/No.svelte";
import Yes from "./icons/Yes.svelte";


  const YES = "yes";
  const NO = "no";

  const PUT = 'put';
  const POST = 'post';

  const dispatch = createEventDispatcher();

  export let answers;
  export let date;
  export let user;
  let answer = undefined;

  function getAnswer() {
    let res = answers.filter(function(ans) { return ans.date_id.toString() === date._id.toString() && ans.user_id.toString() === user._id.toString()});
    return res.length > 0 ? res[0] : {
      date_id: date._id,
      user_id: user._id,
      value: undefined
    };
  }

  onMount(async () => {
    answer = getAnswer();
  });

  function handleClick() {
    answer = getAnswer();
    let _method = answer.value === undefined ? POST : PUT;
    answer = Object.assign({}, answer, { value: answer.value === YES ? NO : YES , timestamp: Date.now()});
    dispatch("sendRest", {
      method: _method,
      path: `/${date._id}/${user._id}/answers`,
      params: answer,
      data: 'answers'
    });
  }
</script>

<button class="pure-button button-action" on:click={handleClick}>
  {#if answer?.value === 'yes'}
    <Yes />
  {:else if answer?.value === 'no'}
    <No />
  {:else}
    <Unknown />
  {/if}
</button>

<style>
  button {
    text-align: center;
    vertical-align: middle
  }
</style>