<script>
  import axios from "axios";
  import { onMount } from "svelte";
  import User from "./User.svelte";
  import Ddate from "./Ddate.svelte";
  import Answer from "./Answer.svelte";
  import ModalUser from "./ModalUser.svelte";
  import ModalDate from "./ModalDate.svelte";
  import Modal from "./Modal.svelte";
  import { formatDT } from "./format_date";
  import { selectedUser } from "./stores.js";
  import Total from "./Total.svelte";
import ModalDateDetails from "./ModalDateDetails.svelte";

  $: outerWidth = 0;
  $: innerWidth = 0;
  $: outerHeight = 0;
  $: innerHeight = 0;

  let root;
  // let _url = new URL(window.location.href);
  // let root = _url.protocol + "/p" + _url.pathname;

  $: data = undefined;

  let params = undefined;
  let isDate = false;
  let isUser = false;
  let isError = false;

  let selectedDate = "null";
  let _selectedUser;

  function sendRest(event) {
    console.log(event);
    axios({
      method: event.detail.method,
      url: root + event.detail.path,
      data: event.detail.params,
    })
      .then(function (response) {
        if (response.data.isError) {
          errorContent = response.data.message;
          if (response.data.isFatal) {
            errorContent = errorContent + "<br />Please refresh page.";
          }
          isError = true;
        } else {
          data = response.data;
          isDate = false;
          isUser = false;
          isError = response.data.isError;
        }
      })
      .catch(function (error) {
        console.log("error");
        console.log(error);
      });
  }

  onMount(() => {
    let _url = new URL(window.location.href);
    root = _url.protocol + "/p" + _url.pathname;
    sendRest({
      detail: {
        method: "GET",
        path: "",
        params: {},
      },
    });
    _selectedUser = $selectedUser;
  });

  const onAddUser = () => {
    params = {};
    isUser = true;
  };
  const onEditUser = (data) => {
    params = data;
    isUser = true;
  };
  const onAddDate = () => {
    params = {};
    isDate = true;
  };
  const onEditDate = (data) => {
    params = data;
    isDate = true;
  };
  const onEndModal = () => {
    isUser = false;
    isDate = false;
    params = undefined;
  };
</script>

<svelte:window
  bind:innerWidth
  bind:outerWidth
  bind:innerHeight
  bind:outerHeight
/>

<div class="page">
  {#if data}
    <h1>{data.poll}</h1>

    <div class="header">
      <form class="pure-form" onsubmit="return false;">
        <fieldset>
          <select
            bind:value={_selectedUser}
            on:change={() => selectedUser.set(_selectedUser)}
          >
            <option value="null">Personne</option>
            {#each data.content.users as user}
              <option value={user._id.toString()}>{user.name}</option>
            {/each}
          </select>
          <button
            class="pure-button button-warning"
            on:click={() => onAddUser(undefined)}
            ><i class="fa-solid fa-plus" />Ajouter Personne</button
          >
        </fieldset>
      </form>
      <form class="pure-form" onsubmit="return false;">
        <fieldset>
          <select 
            bind:value={selectedDate}    
          >
            <option value="null">Date</option>
            {#each data.content.dates as date}
              <option value={date}>{formatDT(date)}</option>
            {/each}
          </select>
          <button
            class="pure-button button-warning"
            on:click={() => onAddDate(undefined)}
            ><i class="fa-solid fa-plus" />Ajouter Date</button
          >
        </fieldset>
      </form>
    </div>

    <table
      class={(outerWidth > 800 ? "rtable" : "rtable--flip") +
        " pure-table pure-table-bordered"}
    >
      <tbody>
        <tr>
          <td clas="corner">&nbsp;</td>
          {#each data.content.dates as date}
            <td class="date"
              ><Ddate
                {date}
                on:sendRest={sendRest}
                on:edit={onEditDate(date)} />
                <div class="description">{date.description}</div>
              </td
            >
          {/each}
        </tr>
        {#each data.content.users as user, i}
          {#if _selectedUser === "null" || _selectedUser === user._id.toString()}
            <tr>
              <td class="user"
                ><User
                  {user}
                  on:sendRest={sendRest}
                  on:edit={onEditUser(user)}
                /></td
              >
              {#each data.content.dates as date}
                <td class="answer"
                  ><Answer
                    answers={data.content.answers}
                    {date}
                    {user}
                    on:sendRest={sendRest}
                  /></td
                >
              {/each}
            </tr>
          {/if}
        {/each}
        <tr>
          <td>Total</td>
          {#each data.content.dates as date}
            <td><Total details={data.details} {date} on:openDateDetails={(event) => selectedDate = event.detail.date}/></td>
          {/each}
        </tr>
      </tbody>
    </table>
  {/if}
</div>

<ModalUser open={isUser} {params} onClosed={onEndModal} on:sendRest={sendRest} />
<ModalDate open={isDate} {params} onClosed={onEndModal} on:sendRest={sendRest} />
<Modal
  open={isError}
  onlyOK={true}
  title="Erreur"
  onClosed={(data) => (isError = false)}>{data.message}</Modal
>
<ModalDateDetails
  open={selectedDate !== "null"}
  date={selectedDate}
  data={data}
  onClosed={(_) => selectedDate = "null"} />
>


<style>
  :global(button.button-action) {
    padding: 0;
    background-color: #ffffff00;
  }

  :global(i.icon-action) {
    background-color: #ffffff00;
  }

  .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 30px;
  }

  .rtable {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .rtable,
  .rtable--flip tbody {
    -webkit-overflow-scrolling: touch;
    background: radial-gradient(
          left,
          ellipse,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0) 75%
        )
        0 center,
      radial-gradient(
          right,
          ellipse,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0) 75%
        )
        100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
  }

  .rtable td:first-child,
  .rtable--flip tbody tr:first-child {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    background-repeat: no-repeat;
    background-size: 20px 100%;
  }

  .rtable td:last-child,
  .rtable--flip tbody tr:last-child {
    background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 20px 100%;
  }

  .rtable th {
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
    background: #f2f0e6;
  }

  .rtable th,
  .rtable td {
    padding: 6px 12px;
    border: 1px solid #d9d7ce;
    vertical-align: middle;
  }

  .rtable--flip {
    display: flex;
    overflow: hidden;
    background: none;
  }

  .rtable--flip thead {
    display: flex;
    flex-shrink: 0;
    min-width: min-content;
  }

  .rtable--flip tbody {
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .rtable--flip tr {
    display: flex;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
  }

  .rtable--flip td,
  .rtable--flip th {
    display: block;
    height: 100px;
  }

  .rtable--flip td {
    background-image: none !important;
    border-left: 0;
    vertical-align: middle;
  }

  .rtable--flip th:not(:last-child),
  .rtable--flip td:not(:last-child) {
    border-bottom: 0;
  }

  .hidden {
    display: none;
  }

  body {
    margin: 0;
    padding: 25px;
    color: #494b4d;
    font-size: 14px;
    line-height: 20px;
  }

  h1,
  h2,
  h3 {
    margin: 0 0 10px 0;
    color: #1d97bf;
  }

  h1 {
    font-size: 25px;
    line-height: 30px;
  }

  h2 {
    font-size: 20px;
    line-height: 25px;
  }

  h3 {
    font-size: 16px;
    line-height: 20px;
  }

  table {
    margin-bottom: 30px;
  }

  a {
    color: #ff6680;
  }

  code {
    background: #fffbcc;
    font-size: 12px;
  }

  .date,
  .user {
    font-weight: bold;
    background-color: #f2f0e6;
    max-width: 250px;
    white-space: pre-wrap;
  }

  .description {
    /* max-width: 200px;
    overflow-wrap: break-word; */
    font-size: xx-small;
  }

  .pure-table-odd td {
    background-color: lightgoldenrodyellow;
    vertical-align: middle;
  }

  .button-success,
  .button-error,
  .button-warning,
  .button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
  }
</style>
