<script>
    import { createEventDispatcher } from "svelte";
    import { tooltip } from "./tooltip";
    import { Confirm } from "svelte-confirm";
    import { formatDT } from "./format_date";

    const dispatch = createEventDispatcher();

    export let date;

    function edit() {
        dispatch("edit", {
            date: date,
        });
    }

    function remove() {
        dispatch("sendRest", {
            method: "delete",
            path: `/dates`,
            params: date,
        });
    }
</script>

<div class="title">
    <span>{formatDT(date)}</span>
    <button class="pure-button button-action" on:click={edit}
        ><i class="fa-solid fa-pen icon-action" /></button
    >
    <Confirm let:confirm={confirmThis}>
        <button
            class="pure-button button-action"
            on:click={() => confirmThis(remove)}
            ><i class="fa-solid fa-trash-can" /></button
        >
    </Confirm>
</div>

<style>
    [data-tooltip] {
        position: relative;
        z-index: 2;
        display: block;
    }

    [data-tooltip]:before,
    [data-tooltip]:after {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: 0.2s ease-out;
        transform: translate(-50%, 5px);
    }

    [data-tooltip]:before {
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-bottom: 5px;
        padding: 7px;
        width: 100%;
        min-width: 70px;
        max-width: 250px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #000;
        background-color: hsla(0, 0%, 20%, 0.9);
        color: #fff;
        content: attr(data-tooltip);
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
        transition: 0.2s ease-out;
    }

    [data-tooltip]:after {
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: 0;
        border-top: 5px solid #000;
        border-top: 5px solid hsla(0, 0%, 20%, 0.9);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
    }

    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, 0);
    }
    [data-tooltip="false"]:hover:before,
    [data-tooltip="false"]:hover:after {
        visibility: hidden;
        opacity: 0;
    }

    .icon-black {
        color: black;
    }
</style>
