<script>
    import Modal from "./Modal2.svelte";
    import { createEventDispatcher } from "svelte";

    const dispatch = createEventDispatcher();

    export let content = "error";

    function close() {
        dispatch("close");
    }
</script>

<Modal on:close={close}>
    {@html content}
</Modal>
