<script>
    import { fade, fly } from "svelte/transition";
    import { quintOut } from "svelte/easing";
    import { createEventDispatcher } from "svelte";
  
    const dispatch = createEventDispatcher();
    export let open = false;
    export let showBackdrop = true;
    export let onClosed;
    export let onlyOK = false;
    export let title = 'Modal title';
    export let closeLabel = 'Annuler';
    export let saveLabel = 'Confirmer';
    export let params = undefined;
    export let path = undefined;
  
    const modalClose = (data) => {
      if (data === 'save') {
        dispatch("sendRest", {
          method: params._id === undefined ? 'POST' : 'PUT',
          path: path,
          params: params
        });
      }
      onClosed(path);
    }
  </script>
  
  {#if open}
    <div class="modal" id="sampleModal" tabindex="-1" role="dialog" aria-labelledby="sampleModalLabel" aria-hidden={false}>
      <div class="modal-dialog" role="document" in:fly={{ y: -50, duration: 300 }} out:fly={{ y: -50, duration: 300, easing: quintOut }}>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="sampleModalLabel">{title}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" on:click={() => modalClose('close')}>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <slot></slot>
          </div>
          <div class="modal-footer">
            {#if onlyOK}
            <button type="button" class="btn btn-primary" data-dismiss="modal" on:click={() => modalClose('close')}>OK</button>
            {:else}
            <button type="button" class="btn btn-secondary" data-dismiss="modal" on:click={() => modalClose('close')}>{closeLabel}</button>
            <button type="button" class="btn btn-primary" on:click={() => modalClose('save')}>{saveLabel}</button>
            {/if}
          </div>
        </div>
      </div>
    </div>
    {#if showBackdrop}
      <div class="modal-backdrop show" transition:fade={{ duration: 150 }} />
    {/if}
  {/if}
  
  <style>
    .modal {
      display: block;
    }
  </style>