
<script>

    import Modal from './Modal.svelte';
    import { formatDT } from './format_date';

    

    export let open;
    export let onClosed;
    export let date;
    export let data;

    function users() {
        console.log(date);
        let users_ids = data.content.answers
            .filter((ans) => ans.date_id.toString() === date._id.toString())
            .filter((ans) => ans.value === 'yes')
            .map((ans) => ans.user_id);
        return data.content.users.filter((usr) => users_ids.includes(usr._id.toString()));
    }

</script>

<Modal {open} {onClosed} {date} {data} onlyOK={true} title="Presents pour {formatDT(date)}">
    {#each users() as user}
        <div>{user.name}</div>
    {/each}
</Modal>