<script>
    export let open;
    export let onClosed;
    export let confirm;
    export let action;

    export let title = "Erreur";

    const close = () => {
        onClosed();
    };

    const doAction = () => {
        action();
    };
</script>

{#if open}
    <div
        class="modal"
        id="sampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="sampleModalLabel"
        aria-hidden={false}
    >
        <div
            class="modal-dialog"
            role="document"
            in:fly={{ y: -50, duration: 300 }}
            out:fly={{ y: -50, duration: 300, easing: quintOut }}
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sampleModalLabel">{title}</h5>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                        on:click={() => close()}
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <slot />
                </div>
                <div class="modal-footer">
                    {#if confirm}
                        <button
                            type="button"
                            class="btn btl-secondary"
                            data-dismiss="modal"
                            on:click={() => close()}>Annuler</button
                        >
                        <button
                            type="button"
                            class="btn btl-primary"
                            data-dismiss="modal"
                            on:click={() => doAction()}>Confirmer</button
                        >
                    {:else}
                        <button
                            type="button"
                            class="btn btl-primary"
                            data-dismiss="modal"
                            on:click={() => close()}>OK</button
                        >
                    {/if}
                </div>
            </div>
        </div>
    </div>
{/if}

<style>
    .modal {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        /* allow click-through to backdrop */
        pointer-events: none;
    }

    .contents {
        min-width: 240px;
        border-radius: 6px;
        padding: 16px;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        pointer-events: auto;
    }

    h2 {
        text-align: center;
        font-size: 24px;
    }

    p {
        text-align: center;
        margin-top: 16px;
    }

    .actions {
        margin-top: 32px;
        display: flex;
        justify-content: flex-end;
    }
</style>
