<script>
    import Modal from "./Modal.svelte";
    import Flatpickr from 'svelte-flatpickr';
	import 'flatpickr/dist/flatpickr.css';
    import "flatpickr/dist/l10n/fr.js"
    
    export let open;
    export let onClosed;
  
    export let params = {
        day: new Date(),
        time: undefined,
        description: undefined,
    };

    const DATE_OPTS = {
        dateFormat: "d M y",
        locale: 'fr',
        defaultDate: params,
        minDate: new Date(params),
        allowInput: true
    };
  
  const TIME_OPTS = {
        enableTime: true,
        defaultDate: params,
        noCalendar: true,
        time_24hr: true,
        locale: 'fr',
        allowInput: true
    };

</script>

<Modal
    {open}
    {onClosed}
    {params}
    on:sendRest
    path="/dates"
    title={params?._id ? "Modifier Date" : "Ajouter Date"}
>
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="aligned-name">Jour</label><Flatpickr
                    options={DATE_OPTS}
                    bind:value={params.day}
                /><span class="pure-form-message-inline">(obligatoire)</span>
            </div>
            <div class="pure-control-group">
                <label for="aligned-name">Heure</label>
                <Flatpickr options={TIME_OPTS} bind:value={params.time} />
            </div>
            <div class="pure-control-group">
                <label for="aligned-name">Description</label>
                <textarea
                    bind:value={params.description}
                    placeholder="Description"
                />
            </div>
        </fieldset>
    </form>
</Modal>
