
<script>
    import Modal from './Modal.svelte';

    export let open;
    export let onClosed;

    export let params = {
        name: undefined
    };

</script>

<Modal {open} {onClosed} {params} on:sendRest path="/users" title="{params?._id ? 'Modifier Utilisateur' : 'Ajouter Utilisateur'}">
    <input bind:value={params.name} placeholder="Nom" />
</Modal>