<script>
    import Yes from "./icons/Yes.svelte";
    import No from "./icons/No.svelte";
    import Unknown from "./icons/Unknown.svelte";
    import { createEventDispatcher } from "svelte";


    export let details;
    export let date;

    const dispatch = createEventDispatcher();

    const openDateDetails = () => {
        dispatch("openDateDetails", {
            date: date
        });
    }


</script>

<div on:click="{openDateDetails}">
    <span><Yes />{details.total.dates.count_details[date._id]["yes"]}</span>
    <span> | </span>
    <span><No />{details.total.dates.count_details[date._id]["no"]}</span>
    <span> | </span>
    <span><Unknown />{details.total.dates.count_details[date._id]["unknown"]}</span>
</div>