<script>
    import { createEventDispatcher } from "svelte";
    import { Confirm } from 'svelte-confirm'

    const dispatch = createEventDispatcher();

    export let user;

    function edit() {
        dispatch("edit", {
            user: user,
        });
    }

    function remove() {
        dispatch("sendRest", {
            method: "delete",
            path: `/users`,
            params: user,
        });
    }
</script>

<span style="display: inline">{user.name}</span>
<button class="pure-button button-action" on:click={edit}
    ><i class="fa-solid fa-pen icon-action" /></button
>
<Confirm let:confirm="{confirmThis}">
    <button
        class="pure-button button-action"
        on:click={() => confirmThis(remove)}
        ><i class="fa-solid fa-trash-can" /></button
    >
</Confirm>
